# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=linkforge
DB_USER=linkforge_user
DB_PASSWORD=linkforge_password
SHOW_SQL=false

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Application Configuration
SERVER_PORT=8080
SHORTENER_STRATEGY=sequential
CACHE_TTL=24h
